## OSX artifacts
.DS_Store

## Dear ImGui artifacts
imgui.ini
imgui*.ini

## Jetbrain IDEs
/.idea

## CMake build directory
/cmake-build-*

## Misc output files
*.out
*.out.*

## Misc.
docs/
examples/

## Data for proima
data/models/rungholt*
